<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <nav>
          <div class="nav-heart">
            <i class="fa-solid fa-heart nav-icon">
              <div class="red-dot" v-if="AnyProductLiked"></div>
            </i>
          </div>
          <div class="nav-cart cart-dot">
            <i class="fa-solid fa-cart-shopping nav-icon">
              <div class="red-dot" v-if="cartList.length"></div>
            </i>
          </div>
        </nav>
      </header>
      <section>
        <div class="row">
          <div class="col-1"></div>
          <div class="card-container col-7">
            <div class="row">
              <div
                class="col-6"
                v-for="product in productList"
                :key="product.id"
              >
                <cards
                  :id="product.id"
                  :img_src="product.img_src"
                  :price="product.price"
                  :like="product.like"
                  @btn-liked="handleLike"
                  @add-to-cart="addToCart(product)"
                ></cards>
              </div>
            </div>
          </div>

          <div class="cart col-3">
            <div class="cart-header">
              <h1>Panier</h1>
            </div>
            <div v-for="cartItem in cartList" :key="cartItem.id">
              <cart
                :id="cartItem.id"
                :img_src="cartItem.img_src"
                :price="cartItem.price"
                :name="cartItem.name"
                @remove-on-cart="removeFromCart(cartItem.id)"
              ></cart>
            </div>
            <div class="footer">
              <div class="total-price">{{ totalPrice }} €</div>
              <button class="order">Commander</button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script type="module" src="script.js"></script>
  </body>
</html>
