@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.col-1 {
  width: calc(8.3333333333% - 0.5rem);
}

.col-2 {
  width: calc(16.6666666667% - 0.5rem);
}

.col-3 {
  width: calc(25% - 0.5rem);
}

.col-4 {
  width: calc(33.3333333333% - 0.5rem);
}

.col-5 {
  width: calc(41.6666666667% - 0.5rem);
}

.col-6 {
  width: calc(50% - 0.5rem);
}

.col-7 {
  width: calc(58.3333333333% - 0.5rem);
}

.col-8 {
  width: calc(66.6666666667% - 0.5rem);
}

.col-9 {
  width: calc(75% - 0.5rem);
}

.col-10 {
  width: calc(83.3333333333% - 0.5rem);
}

.col-11 {
  width: calc(91.6666666667% - 0.5rem);
}

.col-12 {
  width: calc(100% - 0.5rem);
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 300px;
  width: 100%;
}
.card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .price {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  background-color: orange;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  align-items: center;
}

.btn {
  padding: 15px;
  width: 50%;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.btn .fa-heart,
.btn .fa-cart-shopping {
  font-size: 18px;
}
.btn-primary {
  background-color: rgb(255, 192, 203);
}
.btn-primary:hover {
  background-color: #ff8da1;
}
.btn-secondary {
  background-color: rgb(175, 238, 238);
}
.btn-secondary:hover {
  background-color: #85e5e5;
}

header {
  padding-bottom: 10px;
}
header nav {
  height: 50px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
header .nav-icon {
  font-size: 20px;
  color: dimgray;
}
header .nav-heart,
header .nav-cart {
  position: relative;
  width: 20px;
}
header .nav-cart {
  width: 30px;
}

.red-dot {
  height: 5px;
  width: 5px;
  background-color: red;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 50px;
}

.hide {
  display: none;
}

.cart {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart .cart-container {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  width: 100%;
  gap: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.cart .img-container {
  width: 120px;
  height: 100px;
  overflow: hidden;
}
.cart .cart-img {
  height: 100px;
}
.cart .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.cart .product-name {
  font-size: 20px;
}
.cart .footer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}
.cart .footer .total-price {
  font-size: 25px;
  font-weight: 700;
}
.cart .footer .order {
  text-transform: uppercase;
  padding: 15px;
  background-color: steelblue;
  color: white;
  border: none;
}

.trash {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */